body{
    background-image: url("./assets/pic.jpg");
    object-fit: contain;
    background-repeat : no-repeat;
    background-position  : center;
    background-color : black;
    height: auto;
    width: 100%;
}

.container{
    width : 700px;
    height : 200px;
    background-color : #E1AFD1;
    margin : auto;
    margin-top : 300px;
    opacity : 0.9;
    border-radius : 12px;
    display : flex;
    justify-content : space-around;
}

.round_display{
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 50%;
    width  : 80px;
    height  : 80px;
    background-color : #7469B6;
    margin : auto;
    text_align : center;
    color : white;
    font-size : 40px;
    align-items : center;
    /* opacity :; */
}